* {
  margin: 0;
  padding: 0;
}

/* HomePage */

.home-page-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Search Box */

#search-box-container {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#search-box {
  border: 2px solid #61dafb;
  color: #61dafb;
  font-family: monospace;
  padding: 15px 25px;
  outline: none;
  max-width: 500px;
}

/* PostsList */

.posts-list-container {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  color: antiquewhite;
  font-size: 20px;
  margin-top: 20px;
}

/* PostMini */

.post-mini-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  border: 1px solid aliceblue;
  margin: 10px;
  cursor: pointer;
}

.post-mini-container:hover {
  transition: all ease 400ms;
  transform: scale(1.05);
}

.post-mini-left-container {
  padding: 5px 15px 8px 8px;
}

.post-mini-right-container p {
  font-size: 12px;
  text-align: left;
  margin-top: 5px;
}
